
#squares div {
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  margin: 5px;
  border-top: 1px solid #eee;
}

#squares div:hover {
    background: #e1e1e1;
    border: 2px solid black;
  }
